.card.light-theme {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid #008080;
	border-radius: 20px;
}

.card.dark-theme {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid #008080;
	border-radius: 20px;
}

.card__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 12px;
}

.card__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card__description {
    padding: 16px;
    font-size: 20px;
}

.card__title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
}

.card__number {
    padding: 0 16px;
}

.card__remove {
    padding: 10px 16px;
    margin-right: 16px;
}

.card__update {
    font-size: 16px;
    padding: 16px 32px;
    margin-right: 16px;
    margin-left: 16px;
}

.card__author {
    margin-top: 8px;
    margin-left: 16px;
    font-size: 20px;
}

.star__button.light-theme {
    background-color: #E0FFFF;
    color: lightgray;
    margin-right: 10px;
    transition: 0.3s;
}

.star__button.dark-theme {
    background-color: #121212;
    color: darkslategray;
    margin-right: 10px;
    transition: 0.3s;
}

.star__button.light-theme:hover {
    transition: 0.3s;
    color: #008B8B;
}

.star__button.dark-theme:hover {
    transition: 0.3s;
    color: #008080;
}
.button__active.light-theme {
    color: #008B8B !important;
}

.button__active.dark-theme {
    color: #20B2AA !important;
}


.number__container {
    display: flex;
    flex-direction: row;
}